<div class="panel panel-default">
  <div class="panel-body">
  	<p><iframe src="//giphy.com/embed/K0UKpZa7cYM12" width="480" height="305" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
    <p>Thank you! We will get back to you as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->