<h1>Thank you for your order at Specialtea!</h1>
    
<p><strong>Here is what you got:</strong></p>
<p><%= @product.name %></p>
<p><%= @product.price / 100 %></p>

<p>Something went wrong with your order? Please feel free to contact us - we are happy to help!</p>