<div class="container-fluid">
	<h2>Thank you for your purchase at specialtea!</h2>
	<p>If you have any questions or comments, please feel free to contact us!</p>
	<span class="btn btn-default" role="button">
		<%= link_to 'Back to store', products_path %>
	</span>
</div>