// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primaryColor: #dda0dd;

body {
	background-color: $primaryColor;
	margin-top: 5em;
}

h1, h2 {
	text-align: center;
	color: #000;
	margin-bottom: 1em;
}

p {
	text-align: center;
	color: #000;
}

img {
	horizontal-align: center;
}





