$primaryColor: #dda0dd;

.navbar {
	background-color: $primaryColor;
}

.nav {
	width: 100%;
	top: 0;
	text-transform: uppercase;
	font-weight: 900;
}

#specialtea li {
	float: left;
	padding: 1em 1em;
}

.nav-search {
	margin: 12px;
	padding: 1em 1em;
}