<div class="container-fluid"> 
  <div class="header">
   <h1>Editing Product</h1>
  </div>

	<%= render 'form', product: @product %>
	<span class="btn btn-default" role="button">
		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
	</span>
</div><!--/container-->

	
